@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #1f1f1f;
  background-color: #f4f4f4;
  height: 100vh;
  background-image: url(./Images/pexels-jorge-fakhouri-filho-music-2701570.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.container {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  display: flex;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container input[type="text"] {
  height: 40px;
  width: 500px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 0.5rem;
}

.search-container input[type="submit"] {
  height: 40px;
  width: 100%;
  background-color: rgb(247, 208, 80);
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.5s ease;
  cursor: pointer;
  outline: none;
}

.search-container input[type="submit"]:hover {
  background-color: rgb(235, 198, 76);
}

::placeholder {
  font-size: 0.8rem;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

footer {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  transition: color 0.5s ease;
}

footer a:hover {
  color: rgb(247, 208, 80);
  text-decoration: underline;
}

footer i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

section.pop-up {
  position: relative;
  padding: 10px 30px;
  height: 100%;
  background: #f4f4f4;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  z-index: 10000;
  transition: transform 0.5s ease;
  color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

#artist {
  margin-top: 1rem;
  font-size: 1.5rem;
}

#song-name {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#lyrics {
  text-align: center;
}

section button {
  outline: none;
  padding: 6px;
  border: 1px solid;
  background: #f4f4f4;
  font-weight: bold;
}

section.active {
  transform: translateY(-90%);
}

@media screen and (max-width: 700px) {
  body {
    width: 100vw;
  }

  .search-container {
    height: 100%;
  }

  .search-container input[type="text"] {
    width: 100%;
  }

  footer {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
}
